<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/styles/navbar.css"> <!-- Account page CSS -->
    <link rel="stylesheet" href="/styles/Contact-us.css"> <!-- Account page CSS -->
    <link rel="stylesheet" href="/styles/Footer.css"> <!-- Footer CSS -->
   
</head>
<body>

    <nav class="navbar">
        <div class="nav-left">
            <a href="/">HOME</a>
            <a href="#">ARTISTS</a>
            <div class="dropdown">
                <a href="shop" class="dropdown-toggle">SHOP</a>
                <div class="dropdown-menu">
                    <a href="/albums">Albums</a>
                    <a href="/merchandise">Pre-order</a>
                    <a href="/collectibles">Onhand</a>
                    <a href="/accessories">Lightsticks</a>
                    <a href="/accessories">Merchandise</a>
                    <a href="/shop">All Products</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">SUPPORT</a>
                <div class="dropdown-menu">
                    <a href="/contact">Contanct Us</a>
                    <a href="/faqs">FAQS</a>
                    <a href="/tc">Terms and Conditions</a>
                    <a href="/privacy">Privacy Policy</a>
                    <a href="/return">Return & Exchange</a>
                    <a href="/payment">Shipping & Payment</a>
                </div>
            </div>
        </div>
        <div class="nav-center">
            <img class= "logo" src="resources/logo.jpg" alt="Logo" class="logo">
        </div>
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input type="text" placeholder="Search for...">
            <% if (user) { %>
                <div class="dropdown">
                    <a href="#">
                        <img class="profile-user" src="resources/profile.png" alt="Profile">
                    </a>
                    <div class="dropdown-menu">
                        <a style="font-weight: bold;" href="/account">Account</a>
                        <a style="font-weight: bold;" href="/api/auth/logout">Logout</a>
                    </div>
                </div>
                <a href="/cart">
                    <button class="cart-button">
                        <i class="fa-solid fa-cart-shopping" style="color: #fbfbf5;"></i> Cart
                    </button>
                </a>
            <% } else { %>   
                <div class="dropdown">
                <a href="/login-page">
                    <img class="profile-user" src="resources/profile.png" alt="Profile">
                </a>
                </div>
                <a class ="hidden" href="/cart">
                    <button class="cart-button">
                        <i class="fa-solid fa-cart-shopping" style="color: #fbfbf5;"></i> Cart
                    </button>
                </a>
            <% } %>
        </div>
    </nav>

<h1 class = "h1">Contact Us</h1>
</header>

<main class="container">
    <section class="card">
        <h2> Address:</h2>
        <p>
            604-A Bagong Lipunan Condominium Rawis 2, Brgy. 118, Chesa St., Tondo, Manila, Barangay 118, Manila, Metro Manila.
        </p>
    </section>

    <section class="card">
        <h2> Email: </h2>
        <div class="info-group">
        
            <p>
                chimelleshopcs@gmail.com
            </p>
       
    </section>

    <section class="card">
        <h2>Phone:</h2>
        <p> +63-999-860-2146 / +63-949-343-8088 </p>
        
    </section>

    <section class="card">
        <h2>Follow Us:</h2>
        
        <div class="contact-info">
            <p>Main Twitter Account: <a href="https://x.com/chimelleshop" target="_blank">@chimelleshop</a></p>
            <p>Customer Service Account: <a href="https://x.com/chimelleshopcs" target="_blank">@chimelleshopcs</a></p>
            <p>Facebook: <a href="https://www.facebook.com/chimelleshop" target="_blank"> Chimelle Shop </a></p>
           
        </div>
    </section>
</main>

<!-- Footer Section -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h2>Support</h2>
            <ul class="footer-links">
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/faqs">FAQs</a></li>
                <li><a href="/tc" >Terms and Conditions</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/return">Return & Exchange</a></li>
                <li><a href="/payment">Shipping & Payment </a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h2>Quick Links</h2>
            <ul class="footer-links">
                <li><a href="/shop">Products</a></li>
                <li><a href="/artists">Artists</a></li>
            </ul>
            <div class="social-links">
                <a href="https://facebook.com" aria-label="Visit our Facebook page">
                    <i class="fa-brands fa-facebook social-icon"></i>
                </a>
                <a href="https://twitter.com" aria-label="Visit our Twitter page">
                    <i class="fa-brands fa-twitter social-icon"></i>
                </a>
            </div>
        </div>

        <div class="footer-section">
            <!-- Replace /placeholder.svg with your mascot image URL -->
            <img src="/resources/bt21-chimmy.png" alt="Cute mascot character" class="mascot">
            
        </div>
        </div>
            
        <p class = "copyright-text">&copy; 2024 Chimelle Shop. All rights reserved.</p>    
    </footer>
    <script src="scripts/Footer.js"></script>
</body>
</html>
