<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Forgot Password</title>
    

    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/forgot-password.css">
</head>
<body>
    
    <%- include('partials/navbar') %>

    <!-- Forgot Password Section -->
    <div class="forgot-password-container">
        <h1>Forgot Password</h1>
        
        <form id="forgotPasswordForm" class="forgot-password-form">
            <input type="email" id="email" placeholder="Enter your email" required>
            <div class="form-buttons">
                <button type="button" onclick="window.location.href='/login-page'" class="back-to-login-btn">Back to Login</button>
                <button type="submit" class="reset-password-btn">Reset Password</button>
            </div>
        </form>
        <a href="/" class="return-to-store">Return to Store</a>
    </div>
    <script src="scripts/cartButtonCount.js"></script>
    <script src="scripts/Forgot-Password.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="scripts/Footer.js"></script>
</body>
</html>