* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  background-color: #fff7f7;
  color: #333;
}

a{
  text-decoration:none;
  color:rgb(0, 0, 0);
}

.welcome-message {
  width: 100%;
  background-color: #da9e9f;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  padding: 15px 0;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.welcome-message p {
  display: inline-block;
  animation: moveLeftToRight 15s linear infinite;
  padding-left: 100%;
}

@keyframes moveLeftToRight {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

.welcome-message.visible {
  opacity: 1;
  transform: translateY(0);
}

.welcome-message.hidden {
  opacity: 0;
  transform: translateY(-100%);
}


a {
  text-decoration: none;
  
}

footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  color: #333;
}


.announcement {
  background-color: #EDE9E9;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 50px;
}

.album-cover {
  width: 200px;
  height: 200px;
  display: flex;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;

}

.album-cover:hover {
transform: translateY(-5px);
}

.announcement-text {
  text-align: center;
}
.announcement-text h2 {
  color: #da9e9f;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.pre-order-btn {
  background-color: #da9e9f;
  color: white;
  padding: 0.6rem 2.5rem;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.3s ease;
  
}

.pre-order-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-decoration: none;
  padding: 0.6rem 2.5rem;
  color: white;
  background-color: #d98e8e;
  transform: scale(1.05);

}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  background-color: #e9aeae;
  width: 100vw;
  margin: 0;
}

@media (min-width: 1024px) {
.product-grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px; /* Apply max-width only on large screens */
    margin: 0 auto;
}
}

.product-card {
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: white;
padding: 2rem;
text-align: center;
border-radius: 10px;
transition: transform 0.3s ease;
height: 100%;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.product-info {
display: flex;
flex-direction: column;
align-items: center;
gap: 0.5rem; /
}

.product-info h3 {
font-size: 1rem;
margin-bottom: 1rem;
min-height: 50px; /* Ensure consistent spacing for titles */
}

.product-info p {
font-size: 1rem;
margin: 0.5rem 0 1.5rem 0;
}

.choose-options-btn {
  background-color: #e9aeae;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 1rem 3rem;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s ease;
  width: fit-content;
  max-width: 100%;
  border: none;
  cursor: pointer;
}

.choose-options-btn:hover {
  background-color: #d98e8e;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

@media (min-width: 1024px) {
  .product-grid {
      grid-template-columns: repeat(4, 1fr);
  }

  .choose-options-btn {
    display: flex;
  }
}

.hidden {
  display: none;
}
#version-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.version-option {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.version-option img {
  border: 1px solid #ccc;
  border-radius: 5px;
}

