* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
  background-color: #ffffff;
  color: #333;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-right: 15px;
  transition: all 0.3s ease;
}

.nav-left a:hover {
  background-color: #da9e9f;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
}

.logo {
  width: 70px;
  height: auto;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right input {
  padding: 5px;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-user {
  width: 60px;
  height: 50px;
  transition: transform 0.3s ease;
}

.profile-user:hover {
  transform: scale(1.2);
}

.cart-button {
  background-color: #da9e9f;
  color: #fbfbf5;
  margin-left: 5px;
  border: none;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-button i {
  margin-right: 10px;
  font-size: 20px;
}

footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  color: #333;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 15px;
}

.search-container input {
  padding: 10px 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  width: 200px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #333;
}

.cart-button:hover {
  opacity: 0.7;
}

.add-to-cart-btn {
  background-color: #e9aeae;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 1rem 3rem;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s ease;
  width: fit-content;
  max-width: 100%;
  border: none;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: #d98e8e;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

        .main-content {
            display: flex;
            padding: 15px;
            max-width: 1200px;
            margin: 0 auto;
            margin-top: 20px;
        }

        .product-images {
            flex: 1;
            margin-right: 20px;
          
        }

        .main-image {
            width: 100%;
            height: 400px;
            object-fit: cover;
            margin-bottom: 10px;
            border-radius: 10px;
        }

        .thumbnail-container {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
        }

        .thumbnail {
            width: 80px;
            height: 80px;
            object-fit: cover;
            margin-right: 10px;
            cursor: pointer;
        }

        .product-info {
            flex: 1;
            margin-left: 10px;
        }

        .product-title {
          font-size: 35px;
          line-height:1.3;
          font-weight: 1000px;
          margin-bottom: 20px;
          color: #da9e9f;
      }

      .version {
        font-size: 15px;
        margin-bottom: 10px;
        color: #da9e9f;
    }

      .product-price {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #333;
    }

    .version-select {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      background-color: #ffffff;  
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;
  }

  .expandable-section {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.expandable-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;
    color: #666;
    
}

.expandable-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
  color: #666;
}

.expandable-header i {
  color: #da9e9f;
  margin-right: 10px;
  font-size: 1.2em;
}

.expand-icon {
  font-size: 1.5em;
  transition: transform 0.3s ease;
  color: #da9e9f;
}


.expandable-header.active .expand-icon {
    transform: rotate(45deg);
}

.expandable-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding: 0 15px;
}

.expandable-content.active {
  max-height: 500px;
  padding: 5px;
  
}

.expandable-content ul {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.expandable-content li {
    margin-bottom: 8px;
    color: #666;
    line-height: 1.5;
    padding-left: 20px;
    position: relative;
}

.expandable-content li:before {
    content: "•";
    color: #da9e9f;
    position: absolute;
    left: 0;
}
.stock-info {
  margin-bottom: 20px;
  font-size: 14px;
  color: #888;
}

        .pre-order-btn {
            width: 100%;
            padding: 10px;
            background-color: #da9e9f;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 18px;
        }

        @media (max-width: 768px) {
          .main-content {
              flex-direction: column;
          }
        
          .product-images, .product-info {
              width: 100%;
          }
        }

        footer {
          text-align: center;
          padding: 1rem 0;
          margin-top: 2rem;
          color: #333;
        }
        .out-of-stock {
          margin-left:5px;
          color: black;
          font-weight: bold;
      }
      .dropdown {
        position: relative;
        display: inline-block;
        padding: 20px;
      }
      
      .dropdown-toggle {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        transition: all 0.3s ease;
        border-radius: 20px;
      }
      
      .dropdown:hover .dropdown-toggle {
        background-color: #da9e9f;
        color: white;
        border-radius: 20px;
      }
      
      .dropdown:hover .dropdown-menu {
        display: block;
        background-color: #da9e9f;
      }
      
      .dropdown-menu {
        display: none;
        position: absolute;
        text-align: center;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        min-width: 150px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 8px;
        padding: 20px 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
      }
      
      .dropdown:hover .dropdown-menu {
        display: block;
        visibility: visible;
        opacity: 1;
      }
      
      .dropdown-menu a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 8px 20px;
        text-align: center;
      }
      
      .dropdown-menu a:hover {
        background-color: #EDE9E9;
        color: #da9e9f;
        border-radius: 20px;
        margin: 0 10px;
      }
      
      .hidden {
        display: none;
      }

      .thumbnail-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
    }
    
    .thumbnail-wrapper {
        position: relative;
        transition: transform 0.2s;
        cursor: pointer;
    }
    
    .thumbnail-wrapper:hover {
        transform: scale(1.05);
    }
    
    .thumbnail {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border: 2px solid #ddd;
        border-radius: 4px;
    }
    
    .thumbnail.active {
      border-color:#da9e9f;
    }
    .current-version .thumbnail {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    .version-indicator {
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        border: #da9e9f;
        color: white;
        padding: 2px 6px;
        border-radius: 3px;
        font-size: 0.8em;
        white-space: nowrap;
        opacity: 0;
        
    }
    
    
    
    .main-image-wrapper {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .main-image {
      max-width: 100%;
      height: auto;
      transition: opacity 0.3s ease;
  }
  
  .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(218, 158, 159, 0.8);
    color: white;
    font-weight: bold;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image-wrapper:hover .nav-button {
    opacity: 2;
}

.nav-button.disabled:hover {
    opacity: 0.3;
    cursor: not-allowed;
}

.nav-button:hover {
    background-color: #ede9e9;
    color: #da9e9f;
    opacity: 1;
    transform: translateY(-50%) scale(1.2);
}

.nav-button.prev {
    left: 20px;
}

.nav-button.next {
    right: 20px;
}
  
  .thumbnail {
      cursor: pointer;
      transition: opacity 0.3s ease;
     
  }
  
  .thumbnail.active {
      border: 2px solid #da9e9f;
  }
  
  .product-artist {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}
.quantity-selector {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.quantity-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #da9e9f;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  color: #da9e9f;
  
}

.quantity-input {
  text-align: center;
  width: 50px;
  height: 30px;
  border: 1px solid #da9e9f;
  border-radius: 5px;
  margin: 0 10px;
}