* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  color: #333;
}
body {
  background-color: #fff7f7;
  color: #333;
}



a {
  text-decoration: none;
}


/* Responsive Header */
h1 {
  font-size: 5vw; /* Font size adjusts based on viewport width */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #da9e9f;
  color: #fbfbf5;
  padding: 20px 0; /* Optional: Add some padding for better spacing */
}

footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  color: #333;
}


.TC-container {
  max-width: auto; /* Adjust to your preference */
  margin: auto;
  padding: 35px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.TC-images {
  display: flex; /* Align images side-by-side on larger screens */
  justify-content: center;
  gap: 20px; /* Space between images */
  margin-top: 20px; /* Add space between the heading and images */
  flex-wrap: wrap; /* Allow wrapping to the next line if necessary */
}

.TC1, .TC2 {
  flex: 1; /* Allow images to take equal space */
  max-width: 700px; /* Limit the maximum width of each image */
  height: auto;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack navbar items vertically */
    padding: 10px;
    margin: 0;
  }

  .nav-left, .nav-right {
    justify-content: center;
    margin-bottom: 10px;
  }

  .nav-left a {
    display: none; /* Hide navigation links on smaller screens */
    font-size: 14px;
    margin: 5px;
    padding: 8px;
  }

  .cart-button {
    display: flex;
  }

  .nav-right input {
    width: 100%;
    margin-right: 0;
  }

  .logo {
    max-width: 70px;
    height: auto;
  }

  .TC-images {
    flex-direction: column; /* Stack images on top of each other */
    align-items: center; /* Center align images */
  }

  .TC1, .TC2 {
    width: 90%; /* Adjust width for smaller screens */
    max-width: none; /* Remove maximum width constraint */
  }
}


.hidden {
  display: none;
}
